/* web fonts used */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3aZQNVED7rKGKxtqIqX5EUDXx4Vn8sig.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'), url(https://fonts.gstatic.com/s/josefinslab/v8/lW-5wjwOK3Ps5GSJlNNkMalnqg6vBMjoPg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  src: local('Major Mono Display Regular'), local('MajorMonoDisplay-Regular'), url(https://fonts.gstatic.com/s/majormonodisplay/v1/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRh7DXeRAHRfwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*main styling*/
body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  background: #f7f7f7;
	margin: 0;
  /* border: 1px solid red; */
  font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

h1 {
  margin: 20px;
  font-family: 'Major Mono Display', serif;
  /* font-family: 'Josefin Slab', serif; */
  font-size: 2em;
  text-align: center;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

main>* {
  flex: 1;
} */

/* hidden sections */
#search.hidden, #forecast.hidden {
  display: none;
}

/* search section */
#search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#search>* {
  margin: 10px;
  padding: 0px;
  text-align: center;
}

#search input {
  margin: 10px;
  border: 1px solid #393a3d;
  border-radius: 5px;
  padding: 5px;
  background: #fdfdfd;
}

#search input:focus, #reset:focus {
  outline: none;
  box-shadow: 2px 2px 3px #8f9299;
}

#search button {
  display: block;
  width: 100%;
  border: none;
  padding: 5px;
}

#search button:focus, #search button:hover {
  outline: none;
  border: 1px solid #393a3d;
  border-radius: 5px;
  background: #fdfdfd;
}

/* forecast section */
#forecast > * {
  margin: 10px;
}

#reset { /*focus with input focus */
  border: 1px solid #393a3d;
  border-radius: 5px;
  padding: 5px 15px;
  background: #fdfdfd;
}

#forecast-location {
  margin: 20px;
  font-size: 1.4em;
}

#daily-forecasts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#daily-forecasts * {
  background: #fdfdfd;
}

#daily-forecasts .day {
  display: flex;
  width: 250px;
  margin: 10px;
  border: 1px solid #393a3d;
  border-radius: 5px;
}

#daily-forecasts .day>* {
  margin: 5px;
}

#daily-forecasts .day .weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  padding: 5px;
}

#daily-forecasts .day .weather-icon img {
  width: 100%;
  height: 50%;
}

#daily-forecasts .day .weather-info {
  width: 75%;
}

#daily-forecasts .day .weather-info>* {
  margin: 3px;
}

#daily-forecasts .day .weather-info .day-number {
  font-size: 1.4em;
}
